<div class="loading-wrapper ">
    <div class="spinner">
        <img class="block-center img-rounded height-xmd mb-lg"alt="LOGO ANH" />
        <br>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        <br>
        <p class="text-lead text-primary text-smmd">Espere un momento, por favor...</p>
    </div>
</div>


