<div class="loading-request">
    <div class="spinner">
        <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x spin-white"></i></p>
        <p class="text-center lead">Espere un momento, por favor...</p>
        <p class="text-center">
          <button (click)="stopLoading()" class="btn btn-sm btn-danger">CANCELAR</button>
        </p>
    </div>
</div>