<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <a href="#" tabindex="1"><img src="assets/images/banner_aplicativo.jpg" class="img-responsive img-fluid w-100" alt="Secretaría Distrital de Planeación" title="Logo Secretaría Distrital de Planeación" height="130" width="978"></a>
    
        </div>
    </div>
    </div>


    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">

        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <div class="container">
                  <app-title></app-title>
                  <app-breadcrumbs></app-breadcrumbs>
                  <div class="page-body">
                    <router-outlet><app-spinner></app-spinner></router-outlet>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
