<div class="row">
	<div class="col-lg-12 col-xl-12 text-right mb-3">
	   <div class="page-header">
		  <div class="page-header-title">
			 <h4 class="page-header-title">Manual <a class="cursor-icon"  (click)="open(modalManual)">  <i class="icofont  icofont-question-circle icon-xl"></i> </a></h4>
		  </div>
	   </div>
	</div>
 </div>
 <div class="row">
	<div class="col-lg-12 col-xl-12 mb-3">
	   <mat-card class="example-card">
		  <mat-card-content>
			 <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
			 <!--<mat-step [stepControl]="direccionesUnidades">-->
				<mat-step [stepControl]="modulo_paso_1">
					<!--<mat-step >-->
					<ng-template matStepLabel>DATOS DEL SOLICITANTE</ng-template>
					<form [formGroup]="direccionesUnidades" (ngSubmit)="guardarDatosSolicitante()" class="m-2">
					<div class="style-msg alertmsg mt-2">
					   <div class="sb-msg"><i class="icofont icofont-warning"></i><strong>Nota: </strong> Se prohíbe modificar, transmitir o usar contenidos de esta página con propósitos comerciales, de servicio o difusión pública según lo establece la Ley 1581 de 2012 y políticas internas de la Secretaría Distrital de Planeación A-LE-289. El incumplimiento acarreará sanciones legales que haya lugar.</div>
					</div>
					<div class="style-msg alertmsg mt-2">
						<div class="sb-msg"><i class="icofont icofont-warning"></i><strong>Nota: </strong> Señor usuario, en caso de ser el Jefe de hogar y no cumplir con la mayoría de edad, le recomendamos realizar la solicitud en un punto de atención CADE ó SUPERCADE de la ciudad.</div>
					 </div>
					 <div class="style-msg alertmsg-2 mt-2">
						<div class="sb-msg"><i class="icofont icofont-info"></i><strong>Información: </strong> Señor usuario, al diligenciar los campos recuerde hacerlo tal como aparece en su documento de identidad.</div>
					 </div>
					<div class="form-row mt-5">
					   <div class="col-md-6 mb-6">
						  <label>Tipo de Documento <span class="text-danger">*</span> </label>
						  <select  formControlName="idTipoDocumentoCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.idTipoDocumentoCiudadano.errors, 'is-valid': direccionesErrorsUnidades.idTipoDocumentoCiudadano.valid }" [(ngModel)]="modelRegistroSolicitudes.idTipoDocumentoCiudadano"  required disabled>
						  <option selected value="">Seleccione un tipo de documento...</option>
						  <option value="1">Cédula de Ciudadanía</option>
						  <!--<option value="3">Cédula de Extranjería</option>-->
						  <!--<option value="2">Tarjeta de Identidad</option>-->
						  <!--<option value="4">Registro Civil</option>-->
						  <!--<option value="8">Permiso Especial de Permanencia</option>-->
						  <!--<option value="5">Documento Nacional de Identidad</option>
							 <option value="6">Pasaporte</option>-->
						  <!--<option value="7">Salvoconducto Migratorio</option>-->
						  </select>
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.idTipoDocumentoCiudadano.errors" class="invalid-feedback  text-left">
							 <div *ngIf="direccionesErrorsUnidades.idTipoDocumentoCiudadano.errors.required">Seleccione el tipo de documento.</div>
						  </div>
					   </div>
					</div>
					<div class="form-row mt-4">
					   <div class="col-md-6 mb-6">
						  <label>Número de Documento <span class="text-danger">*</span></label>
						  <input type="text" formControlName="numeroDocumentoCiudadano" placeholder="Escriba su número de documento" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.numeroDocumentoCiudadano.errors, 'is-valid':  direccionesErrorsUnidades.numeroDocumentoCiudadano.valid }" [(ngModel)]="modelRegistroSolicitudes.numeroDocumentoCiudadano" required onkeypress='validate(event)' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/>
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.numeroDocumentoCiudadano.errors" class="invalid-feedback  text-left">
							 <div *ngIf="direccionesErrorsUnidades.numeroDocumentoCiudadano.errors.required">El número de documento de identidad es requerido.</div>
							 <div *ngIf="direccionesErrorsUnidades.numeroDocumentoCiudadano.errors.pattern">Información incorrecta, solo se permite valores numéricos y que el documento no empiece por 0.</div>
							 <div *ngIf="direccionesErrorsUnidades.numeroDocumentoCiudadano.errors.maxlength">El número de documento de identidad no debe ser mayor a 15 dígitos.</div>
							 <div *ngIf="direccionesErrorsUnidades.numeroDocumentoCiudadano.errors.minlength">El número de documento de identidad debe ser mayor a 3 dígitos.</div>
						  </div>
					   </div>
					   <div class="col-md-6 mb-6">
						  <label>Confirme su Número de Documento <span class="text-danger">*</span></label>
						  <input type="text" formControlName="confirmNumeroDocumentoCiudadano" placeholder="Confirme su número de documento" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.confirmNumeroDocumentoCiudadano.errors, 'is-valid':  direccionesErrorsUnidades.confirmNumeroDocumentoCiudadano.valid }" required onkeypress='validate(event)' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/>
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.confirmNumeroDocumentoCiudadano.errors" class="invalid-feedback  text-left">
							 <div *ngIf="direccionesErrorsUnidades.confirmNumeroDocumentoCiudadano.errors.required">La confirmación del número de documento de identidad es requerida.</div>
							 <div *ngIf="direccionesErrorsUnidades.confirmNumeroDocumentoCiudadano.errors.pattern">Información incorrecta, solo se permite valores numéricos y que el documento no empiece por 0.</div>
							 <div *ngIf="direccionesErrorsUnidades.confirmNumeroDocumentoCiudadano.errors.maxlength">El número de documento de identidad no debe ser mayor a 15 dígitos.</div>
							 <div *ngIf="direccionesErrorsUnidades.confirmNumeroDocumentoCiudadano.errors.minlength">El número de documento de identidad debe ser mayor a 3 dígitos.</div>
							 <div *ngIf="direccionesErrorsUnidades.confirmNumeroDocumentoCiudadano.errors.mustMatch">La confirmación del número de documento de identidad no es correcta </div>
						  </div>
					   </div>
					</div>
					<div class="form-row mt-4">
					   <div class="col-md-6 mb-6">
						  <label>Primer Nombre <span class="text-danger">*</span></label>
						  <input type="text" formControlName="primerNombreCiudadano" placeholder="Escriba su primer nombre" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.primerNombreCiudadano.errors, 'is-valid':  direccionesErrorsUnidades.primerNombreCiudadano.valid }" [(ngModel)]="modelRegistroSolicitudes.primerNombreCiudadano" required  />
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.primerNombreCiudadano.errors" class="invalid-feedback  text-left">
							 <div *ngIf="direccionesErrorsUnidades.primerNombreCiudadano.errors.required">Diligencie el primer nombre.</div>
							 <div *ngIf="direccionesErrorsUnidades.primerNombreCiudadano.errors.pattern">Información incorrecta, solo se permite valores alfabéticos.</div>
							 <div *ngIf="direccionesErrorsUnidades.primerNombreCiudadano.errors.maxlength">El primer nombre no debe ser mayor a 50 caracteres.</div>
							 <div *ngIf="direccionesErrorsUnidades.primerNombreCiudadano.errors.minlength">El primer nombre debe ser mayor a 2 caracteres.</div>
						  </div>
					   </div>
					   <div class="col-md-6 mb-6">
						  <label>Segundo Nombre</label>
						  <input type="text" formControlName="segundoNombreCiudadano"  class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.segundoNombreCiudadano.errors }" [(ngModel)]="modelRegistroSolicitudes.segundoNombreCiudadano"  />
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.segundoNombreCiudadano.errors" class="invalid-feedback  text-left">
							 <div *ngIf="direccionesErrorsUnidades.segundoNombreCiudadano.errors.pattern">Información incorrecta, solo se permite valores alfabéticos.</div>
							 <div *ngIf="direccionesErrorsUnidades.segundoNombreCiudadano.errors.maxlength">El segundo nombre no debe ser mayor a 50 caracteres.</div>
							 <div *ngIf="direccionesErrorsUnidades.segundoNombreCiudadano.errors.minlength">El segundo nombre debe ser mayor a 2 caracteres.</div>
						  </div>
					   </div>
					</div>
					<div class="form-row mt-4">
					   <div class="col-md-6 mb-6">
						  <label>Primer Apellido <span class="text-danger">*</span></label>
						  <input type="text" formControlName="primerApellidoCiudadano" placeholder="Escriba su primer apellido" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.primerApellidoCiudadano.errors, 'is-valid':  direccionesErrorsUnidades.primerApellidoCiudadano.valid }" [(ngModel)]="modelRegistroSolicitudes.primerApellidoCiudadano" required />
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.primerApellidoCiudadano.errors" class="invalid-feedback  text-left">
							 <div *ngIf="direccionesErrorsUnidades.primerApellidoCiudadano.errors.required">Diligencie el primer apellido.</div>
							 <div *ngIf="direccionesErrorsUnidades.primerApellidoCiudadano.errors.pattern">Información incorrecta, solo se permite valores alfabéticos.</div>
							 <div *ngIf="direccionesErrorsUnidades.primerApellidoCiudadano.errors.maxlength">El primer apellido no debe ser mayor a 50 caracteres.</div>
							 <div *ngIf="direccionesErrorsUnidades.primerApellidoCiudadano.errors.minlength">El primer apellido debe ser mayor a 2 caracteres.</div>
						  </div>
					   </div>
					   <div class="col-md-6 mb-6">
						  <label>Segundo Apellido</label>
						  <input type="text" formControlName="segundoApellidoCiudadano"  class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.segundoApellidoCiudadano.errors }" [(ngModel)]="modelRegistroSolicitudes.segundoApellidoCiudadano"  />
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.segundoApellidoCiudadano.errors" class="invalid-feedback  text-left">
							 <div *ngIf="direccionesErrorsUnidades.segundoApellidoCiudadano.errors.pattern">Información incorrecta, solo se permite valores alfabéticos.</div>
							 <div *ngIf="direccionesErrorsUnidades.segundoApellidoCiudadano.errors.maxlength">El segundo apellido no debe ser mayor a 50 caracteres.</div>
							 <div *ngIf="direccionesErrorsUnidades.segundoApellidoCiudadano.errors.minlength">El segundo apellido debe ser mayor a 2 caracteres.</div>
						  </div>
					   </div>
					</div>
					<div class="form-row mt-4">
					   <div class="col-md-6 mb-6">
						  <label>Fecha de Nacimiento <span class="text-danger">*</span></label>
						  <input type="date" onkeypress="return false" formControlName="fechaNacimientoCiudadano" placeholder="Escoja su fecha de nacimiento" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.fechaNacimientoCiudadano.errors, 'is-valid':  direccionesErrorsUnidades.fechaNacimientoCiudadano.valid }" [(ngModel)]="modelRegistroSolicitudes.fechaNacimientoCiudadano"   [min]="dateSent" [max]="todaysdate" [value]="dateReceived" required />
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.fechaNacimientoCiudadano.errors" class="invalid-feedback  text-left">
							 <div *ngIf="direccionesErrorsUnidades.fechaNacimientoCiudadano.errors.required">Escoja la fecha de nacimiento.</div>
						  </div>
					   </div>

					   <div class="col-md-6 mb-6">
						<label>Fecha de Expedición <span class="text-danger">*</span></label>
						<input type="date" onkeypress="return false" formControlName="fechaExpedicionCiudadano" placeholder="Escoja su fecha de expedición" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.fechaExpedicionCiudadano.errors, 'is-valid':  direccionesErrorsUnidades.fechaExpedicionCiudadano.valid }" [(ngModel)]="modelRegistroSolicitudes.fechaExpedicionCiudadano"   [min]="dateSent" [max]="todaysdate" [value]="dateReceived" required />
						<div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.fechaExpedicionCiudadano.errors" class="invalid-feedback  text-left">
						   <div *ngIf="direccionesErrorsUnidades.fechaExpedicionCiudadano.errors.required">Escoja la fecha de expedición.</div>
						</div>
					 </div>

					</div>

					<div class="form-row mt-4" *ngIf="habiltarValidacion">

						<div class="col-md-6 mb-6">
						   <label>Sexo <span class="text-danger">*</span></label>
						   <select  formControlName="idTSexoCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.idTSexoCiudadano.errors, 'is-valid': direccionesErrorsUnidades.idTSexoCiudadano.valid }" [(ngModel)]="modelRegistroSolicitudes.idTSexoCiudadano"  required>
						   <option selected value="">Seleccione un tipo de sexo...</option>
						   <!--<option value="Masculino">Masculino</option>
							  <option value="Femenino">Femenino</option>
							  <option value="Sin especificar">Sin especificar</option>-->
						   <option value="Masculino">Hombre</option>
						   <option value="Femenino">Mujer</option>
						   <option value="Sin Especificar">Intersexual</option>
						   </select>
						   <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.idTSexoCiudadano.errors" class="invalid-feedback  text-left">
							  <div *ngIf="direccionesErrorsUnidades.idTSexoCiudadano.errors.required">Seleccione el tipo de sexo.</div>
						   </div>
						</div>
					 </div>
					<div class="form-row mt-4" *ngIf="habiltarValidacion">
					   <!--<div class="col-md-6 mb-6">
						  <label>Teléfono Fijo</label>
						  <input type="text" formControlName="telefonoFijoCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.telefonoFijoCiudadano.errors }" [(ngModel)]="modelRegistroSolicitudes.telefonoFijoCiudadano"  />
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.telefonoFijoCiudadano.errors" class="invalid-feedback text-left">
						  <div *ngIf="direccionesErrorsUnidades.telefonoFijoCiudadano.errors.pattern">Número no válido: el número de teléfono fijo debe ser numérico.</div>
						  <div *ngIf="direccionesErrorsUnidades.telefonoFijoCiudadano.errors.maxlength">El número de teléfono fijo no debe ser mayor a 10 dígitos.</div>
						  <div *ngIf="direccionesErrorsUnidades.telefonoFijoCiudadano.errors.minlength">El número de teléfono fijo debe ser de 10 dígitos. Segun la nueva marcación telefónica en el país. Por tanto para bogotá debe empezar por 601.</div>
						  </div>
						  </div>-->
					   <div class="col-md-6 mb-6">
						  <label>Teléfono Celular <span class="text-danger">*</span></label>
						  <input type="text" formControlName="telefonoCelularCiudadano" placeholder="Escriba su número celular" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.telefonoCelularCiudadano.errors, 'is-valid':  direccionesErrorsUnidades.telefonoCelularCiudadano.valid }" [(ngModel)]="modelRegistroSolicitudes.telefonoCelularCiudadano"  />
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.telefonoCelularCiudadano.errors" class="invalid-feedback text-left">
							 <div *ngIf="direccionesErrorsUnidades.telefonoCelularCiudadano.errors.required"> Diligencie el número de celular.</div>
							 <div *ngIf="direccionesErrorsUnidades.telefonoCelularCiudadano.errors.pattern">Número no válido: el número de celular debe ser numérico.</div>
							 <div *ngIf="direccionesErrorsUnidades.telefonoCelularCiudadano.errors.minlength">El número de celular debe ser de 10 dígitos.</div>
							 <div *ngIf="direccionesErrorsUnidades.telefonoCelularCiudadano.errors.maxlength">El número de celular no debe ser mayor a 10 dígitos.</div>
						  </div>
					   </div>
	
					   <div class="col-md-6 mb-6">
						<label>Teléfono Opcional </label>
						<input type="text" formControlName="telefonoFijoCiudadano" placeholder="Escriba su número celular opcional" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.telefonoFijoCiudadano.errors }" [(ngModel)]="modelRegistroSolicitudes.telefonoFijoCiudadano"  />
						<div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.telefonoFijoCiudadano.errors" class="invalid-feedback text-left">
						   <div *ngIf="direccionesErrorsUnidades.telefonoFijoCiudadano.errors.required"> Diligencie el número de celular opcional.</div>
						   <div *ngIf="direccionesErrorsUnidades.telefonoFijoCiudadano.errors.pattern">Número no válido: el número de celular opcional debe ser numérico.</div>
						   <div *ngIf="direccionesErrorsUnidades.telefonoFijoCiudadano.errors.minlength">El número de celular opcional debe ser de 10 dígitos.</div>
						   <div *ngIf="direccionesErrorsUnidades.telefonoFijoCiudadano.errors.maxlength">El número de celular opcional no debe ser mayor a 10 dígitos.</div>
						</div>
					 </div>
	
					</div>
	
					<div class="form-row mt-4" *ngIf="habiltarValidacion">
					   <div class="col-md-6 mb-6">
						  <label>Correo Electrónico <span class="text-danger">*</span></label>
						  <input type="text" formControlName="emailCiudadano" placeholder="Escriba su correo electrónico" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.emailCiudadano.errors, 'is-valid':  direccionesErrorsUnidades.emailCiudadano.valid }" [(ngModel)]="modelRegistroSolicitudes.emailCiudadano"  required onkeypress='validate(event)' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/>
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.emailCiudadano.errors" class="invalid-feedback text-left">
							 <div *ngIf="direccionesErrorsUnidades.emailCiudadano.errors.required">Diligencie el correo electrónico.</div>
							 <div *ngIf="direccionesErrorsUnidades.emailCiudadano.errors.pattern">El correo digitado no es valido, debería ser: ejemplo@empresa.com.co.</div>
							 <div *ngIf="direccionesErrorsUnidades.emailCiudadano.errors.maxlength">El correo digitado no debe ser mayor a 50 caracteres.</div>
						  </div>
					   </div>
					   <div class="col-md-6 mb-6">
						  <label>Confirme su Correo Electrónico <span class="text-danger">*</span></label>
						  <input type="text" formControlName="confirmEmailCiudadano" placeholder="Confirme su correo electrónico" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.confirmEmailCiudadano.errors, 'is-valid':  direccionesErrorsUnidades.confirmEmailCiudadano.valid }"   required onkeypress='validate(event)' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/>
						  <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.confirmEmailCiudadano.errors" class="invalid-feedback text-left">
							 <div *ngIf="direccionesErrorsUnidades.confirmEmailCiudadano.errors.required">Confirme el correo electrónico.</div>
							 <div *ngIf="direccionesErrorsUnidades.confirmEmailCiudadano.errors.pattern">El correo digitado no es valido, debería ser: ejemplo@empresa.com.co.</div>
							 <div *ngIf="direccionesErrorsUnidades.confirmEmailCiudadano.errors.maxlength">El correo digitado no debe ser mayor a 50 caracteres.</div>
							 <div *ngIf="direccionesErrorsUnidades.confirmEmailCiudadano.errors.mustMatch">La confirmación de correo electrónico no es correcta </div>
						  </div>
					   </div>
					</div>
					<div class="form-row mt-4" *ngIf="habiltarValidacion">
						<div class="col-md-6 mb-6">
							<label>Tipo de Parentesco <span class="text-danger">*</span></label>
							<select  formControlName="idParentesco" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.idParentesco.errors, 'is-valid': direccionesErrorsUnidades.idParentesco.valid }" [(ngModel)]="modelRegistroSolicitudes.idParentesco"  required disabled>
							<option selected value="">Seleccione un tipo de parentesco...</option>
							<option value="1">Jefe del hogar</option>
							</select>	
							<div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.idParentesco.errors" class="invalid-feedback  text-left">
							   <div *ngIf="direccionesErrorsUnidades.idParentesco.errors.required">Seleccione el tipo de parentesco.</div>
							</div>
						 </div>
						<div class="col-md-6 mb-6">
						   <label>Indique el número de personas que integran el hogar <span class="text-danger"> *</span></label>
						   <select  formControlName="unicoHogar" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.unicoHogar.errors, 'is-valid': direccionesErrorsUnidades.unicoHogar.valid }" [(ngModel)]="unicoHogarModel"  required (ngModelChange)="getHogarUnipersonal($event)">
						   <option selected value="">Seleccione un número de personas...</option>
						   <!--<option value="Masculino">Masculino</option>
							  <option value="Femenino">Femenino</option>
							  <option value="Sin especificar">Sin especificar</option>-->
						   <option value="1">1</option>
						   <option value="2">2</option>
						   <option value="3">3</option>
						   <option value="4">4</option>
						   <option value="5">5</option>
						   <option value="6">6</option>
						   <option value="7">7</option>
						   <option value="8">8</option>
						   <option value="9">9</option>
						   <option value="10">10</option>
						   <option value="11">11</option>
						   <option value="12">12</option>
						   <option value="13">13</option>
						   <option value="14">14</option>
						   <option value="15">15</option>
						   <option value="16">16</option>
						   <option value="17">17</option>
						   <option value="18">18</option>
						   <option value="19">19</option>
						   <option value="20">20</option>
						   <option value="21">21</option>
						   <option value="22">22</option>
						   <option value="23">23</option>
						   <option value="24">24</option>
						   </select>
						   <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.unicoHogar.errors" class="invalid-feedback  text-left">
							  <div *ngIf="direccionesErrorsUnidades.unicoHogar.errors.required">Seleccione el número de personas que integran el hogar.</div>
						   </div>
						</div>
					 </div>
					<!--<div class="form-row mt-4">
					   <div class="col-md-6 mb-6">
					   <label>Categoaria *</label>
					   <select  formControlName="idParentesco" class="form-control" [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.idParentesco.errors, 'is-valid': direccionesErrorsUnidades.idParentesco.valid }" [(ngModel)]="modelRegistroSolicitudes.idParentesco"  required>
					   <option selected value="">Seleccione una categoria...</option>
					   <option value="Jefe del hogar">Jefe del hogar</option>
					   <option value="Cónyuge o compañero(a)">Cónyuge o compañero(a)</option>
					   <option value="Hijo(a), hijastro(a), hijo(a) adoptivo(a)">Hijo(a), hijastro(a), hijo(a) adoptivo(a)</option>
					   <option value="Nieto(a)">Nieto(a)</option>
					   <option value="Padre, madre, padrastro, madrastra">Padre, madre, padrastro, madrastra</option>
					   <option value="Hermano(a)">Hermano(a)</option>
					   <option value="Yerno / Nuera">Yerno / Nuera</option>
					   <option value="Abuelo(a)">Abuelo(a)</option>
					   <option value="Suegro(a)">Suegro(a)</option>
					   <option value="Tío(a)">Tío(a)</option>
					   <option value="Sobrino(a)">Sobrino(a)</option>
					   <option value="Primo(a)">Primo(a)</option>
					   <option value="Cuñado(a)">Cuñado(a)</option>
					   <option value="Otro pariente"> Otro pariente</option>
					   <option value="Empleado(a) de servicio doméstico">Empleado(a) de servicio doméstico</option>
					   <option value="Pariente del servicio doméstico">Pariente del servicio doméstico</option>
					   <option value="Pensionista">Pensionista</option>
					   <option value="Pariente de pensionista">Pariente de pensionista</option>
					   <option value="No pariente">No pariente</option>
					   </select>	
					   <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.idParentesco.errors" class="invalid-feedback  text-left">
					   <div *ngIf="direccionesErrorsUnidades.idParentesco.errors.required">Seleccione el tipo de parentesco.</div>
					   </div>
					   </div>
					   </div>
					   
					   -->
					<div class="form-row mt-4">
					   <div class="form-group" >
						  <div class="form-check" >
							 <input type="checkbox" class="form-check-input" formControlName="terminosYCondiciones"  [ngClass]="{ 'is-invalid': submittedDireccionesUnidades && direccionesErrorsUnidades.terminosYCondiciones.errors }" [(ngModel)]="modelRegistroSolicitudes.aceptarTerminos" required/>
							 <label class="form-check-label" for="terminosYCondiciones">&nbsp; <a href="javascript:void(0);"  (click)="open(modalAutorizacionDatos)"> Acepto la autorización y tratamiento de datos personales. <span class="text-danger">*</span></a> </label>
							 <div *ngIf="submittedDireccionesUnidades && direccionesErrorsUnidades.terminosYCondiciones.errors" class="invalid-feedback  text-left">
								<div *ngIf="direccionesErrorsUnidades.terminosYCondiciones.errors.required">El aceptar los terminos y condiciones es requerido.</div>
							 </div>
						  </div>
					   </div>
					</div>

					<div class="form-row row mt-5" >
						<div class="col-sm-12 ">
						   <div id="captcha"></div>
						</div>
						<div class="col-sm-6 ">
						   <div class="row">
							  <div class="col-sm-6 ">
								 <input type="text" id="cpatchaTextBox" class="form-control"   />
							  </div>
							  <div class="col-sm-6 ">
								 <button class="btn btn-primary text-center boton-contacto" mat-button (click)="validateCaptcha($event)">Validar </button>
							  </div>
						   </div>
						</div>
					 </div>
					 <div class="form-row" >
						<div class="col-md-6 mb-6">
						   <div class="alert alert-danger" role="alert" *ngIf="submittedDireccionesUnidades && !habilitarCaptcha">
							  <div>El captcha es requerido.</div>
						   </div>
						</div>
					 </div>

					

					<div class="form-row mt-5">
						<div class="col-sm-12 text-center mb-5">
						   <button class="btn btn-primary text-center boton-contacto"   mat-button (click)="validacionInicial($event)" *ngIf="!habiltarValidacion">Consultar <i class="icofont icofont-arrow-right icon-md"></i></button>
						</div>
					 </div>







					<div class="form-row mt-5" *ngIf="habiltarValidacion">
					   <div class="col-sm-12 text-center mb-5">
						  <button class="btn btn-primary text-center boton-contacto" [disabled]="isEditFormulario" mat-button matStepperNext>Siguiente <i class="icofont icofont-arrow-right icon-md"></i></button>
					   </div>
					</div>
					</form>
				 </mat-step>
				 <!--<mat-step [stepControl]="modulo_paso_2">-->
				 <mat-step [stepControl]="personasHogar">
					<ng-template matStepLabel>DATOS PERSONAS DEL HOGAR</ng-template>
					<mat-card class="example-card mt-2 mb-2">
					   <mat-card-header>
						  <div class="row col-sm-12 mt-5 mb-5">
							 <div class="col-sm-12 text-left">
								<div class="row d-flex align-items-center mb-4">
								   <div class="col-sm-2 text-center">
									  <img src="assets/images/sisben_jefehogar2.png" class="img-responsive img-fluid w-60" alt="">
								   </div>
								   <div class="col-sm-10 text-left">
									  <h5>Jefe del Hogar</h5>
								   </div>
								</div>
								<h6><b>Nombres y Apellidos: </b>   <span class="text-primary ml-3">{{modelRegistroSolicitudes.primerNombreCiudadano}} {{modelRegistroSolicitudes.segundoNombreCiudadano}} {{modelRegistroSolicitudes.primerApellidoCiudadano}} {{modelRegistroSolicitudes.segundoApellidoCiudadano}}</span></h6>
								<h6><b>Tipo de Identificación: </b>  <span class="text-primary ml-3">{{getDocumento(modelRegistroSolicitudes.idTipoDocumentoCiudadano)}}</span></h6>
								<h6><b>Número de Identificación: </b> <span class="text-primary ml-3">{{modelRegistroSolicitudes.numeroDocumentoCiudadano}}</span></h6>
								<h6><b>Correo Electrónico: </b> <span class="text-primary ml-3">{{modelRegistroSolicitudes.emailCiudadano}}</span></h6>
								<h6><b>Teléfono Celular: </b> <span class="text-primary ml-3">{{modelRegistroSolicitudes.telefonoCelularCiudadano}}</span></h6>
							 </div>
						  </div>
					   </mat-card-header>
					   <mat-card-header >
						  <div class="row col-sm-12 mt-2 mb-5 d-flex align-items-center">
							 <div class="col-sm-6 text-left">
								<div class="row d-flex align-items-center">
								   <div class="col-sm-4 text-left">
									  <img src="assets/images/listado_hogar.jpeg" class="img-responsive img-fluid" alt="">
								   </div>
								   <div class="col-sm-8 text-left">
									  <h5>Listado de personas del hogar</h5>
								   </div>
								</div>
							 </div>
							 <div class="col-sm-6 text-right">
								<button type="submit" class="btn btn-primary text-center" data-toggle="modal" data-target="#modalHogar" (click)="nuevoIntegranteHogar('new')" [disabled]="unicoHogarModel === '1'"> <i class="icofont icofont-plus font-table"></i> Agregar miembro del Hogar</button>
							 </div>
						  </div>
	
	
					   </mat-card-header>
					   <mat-card-content >
						<div class="row">
							<div class="col-md-12">
							  <div class="style-msg alertmsg mt-4" *ngIf="unicoHogarModel === '1'">
								  <div class="sb-msg"><i class="icofont icofont-warning"></i><strong>Nota: </strong> No puede incluir personas al hogar, dado que en el módulo anterior indicó que sólo había <b>UNA</b> persona en el hogar.</div>
							   </div>
							</div>
						</div>
						  <div class="mat-elevation-z8 table-responsive text-center" >
							 <table mat-table  [dataSource]="dataSourcePuntosVentas" #sortPuntosVentas="matSort" matSort>
							 <!-- ID Column -->
							 <ng-container matColumnDef="idPuntoVenta">
								<th mat-header-cell *matHeaderCellDef mat-sort-header > Tipo de<br> Documento </th>
								<td mat-cell *matCellDef="let row" > {{getDocumento(row.idTipoDocumentoCiudadano)}} </td>
							 </ng-container>
							 <!-- Progress Column -->
							 <ng-container matColumnDef="tipoEstable" >
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Número de <br> Documento </th>
								<td mat-cell *matCellDef="let row"> {{row.numeroDocumentoCiudadano}} </td>
							 </ng-container>
							 <!-- Progress Column -->
							 <ng-container matColumnDef="departamento">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y Apellidos </th>
								<td mat-cell *matCellDef="let row"> {{row.primerNombreCiudadano}} {{row.segundoNombreCiudadano}} {{row.primerApellidoCiudadano}} {{row.segundoApellidoCiudadano}}</td>
							 </ng-container>
							 <!-- Name Column -->
							 <ng-container matColumnDef="municipio">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
								<td mat-cell *matCellDef="let row"> {{row.idTSexoCiudadano}} </td>
							 </ng-container>
							 <!-- Color Column -->
							 <ng-container matColumnDef="direccion">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Parentesco </th>
								<td mat-cell *matCellDef="let row"> {{getParentesco(row.idParentesco)}} </td>
							 </ng-container>
							 <!-- Color Column -->
							 <ng-container matColumnDef="opciones">
								<th mat-header-cell *matHeaderCellDef > Opciones </th>
								<td mat-cell *matCellDef="let row; let i = index;" width="5%">
								   <!--<button mat-raised-button (click)="editarRegistroPuntosVenta(row, 'edit')" data-toggle="modal" data-target="#modalHogar" class="border-primary">
									  <i class="icofont icofont-ui-edit icon-md text-primary" matTooltip="Editar punto de venta" [matTooltipPosition]="'left'"></i>
									  </button>-->
								   <button mat-raised-button (click)="eliminarRegistroPuntosVenta(row, i)" class="ml-2 border-warn">
								   <i class="icofont icofont-ui-delete icon-md text-danger" matTooltip="Eliminar miembro del hogar" [matTooltipPosition]="'right'"></i>
								   </button>
							 </ng-container>
							 <tr mat-header-row *matHeaderRowDef="displayedColumnsPuntosVentas"></tr>
							 <tr mat-row *matRowDef="let row; columns: displayedColumnsPuntosVentas; let i = index">
							 </tr>
							 </table>
							 <div  *ngIf="loading" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
								<div class="row text-center">
								   <div class="col-12 mb-2 mt-2">
									  <h6> <i class="fa fa-spinner fa-spin m-1"></i> &nbsp;&nbsp;Obteniendo Datos, espere un momento...</h6>
								   </div>
								</div>
							 </div>
							 <div *ngIf="listadoPersonasHogar.length === 0; else false" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
								<div class="row text-center">
								   <div class="col-12 mb-2">
									  <h6>
										 <mat-icon class="m-2">sms_failed</mat-icon>
										 No hay miembros del hogar agregados
									  </h6>
								   </div>
								</div>
							 </div>
							 <mat-paginator #paginatorPuntosVentas="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
						  </div>
						  <!--<div class="form-row mt-4">
							 <div class="col-md-12 mb-12">
							  <div class="alert alert-danger" role="alert" *ngIf="personasHogarErrors.listadoPersonas.errors.required">
							   <div>Debe ingresar al menos un integrante del hogar.</div>
							   </div>
							 </div>
							 </div> -->
					   </mat-card-content>
					</mat-card>
					<div class="col-sm-12 text-center mb-3 mt-4">
					   <button class="btn btn-primary text-center boton-contacto" mat-button matStepperPrevious><i class="icofont icofont-arrow-left icon-md"></i> Atras</button>
					   <button class="btn btn-primary text-center boton-contacto ml-2" mat-button  (click)="listaDatosHogar()" >Siguiente <i class="icofont icofont-arrow-right icon-md"></i></button>
					</div>
				 </mat-step>
			 <!--<mat-step [stepControl]="direccionViviendaForm">-->
			 <mat-step [stepControl]="modulo_paso_3">
				<ng-template matStepLabel>DATOS VIVIENDA</ng-template>
				<div class="style-msg alertmsg mt-4">
					<div class="sb-msg"><i class="icofont icofont-warning"></i><strong>Nota: </strong> La dirección a registrar debe pertenecer al área de Bogotá.</div>
				 </div>
				<form [formGroup]="direccionViviendaForm" (ngSubmit)="guardarDireccionVivienda()">
				<div class="form-row mt-5">
				   <div class="col-md-12 mb-6">
					<div class="row">
						<div class="col-md-6">
							<label>&nbsp;</label>
							<a class="btn btn-primary text-center boton-contacto form-control" data-toggle="modal" data-target="#modalDireccion" mat-button [disabled]="isEditFormulario"> <i class="icofont icofont-address-book icon-md"></i> Generar Dirección</a>
						 </div>
					</div>
					  <div class="row mt-4">
						 <div class="col-md-6">
							<label>Dirección de la vivienda</label>
							<input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submittedDireccionVivienda && direccionViviendaErrors.direccionVivienda.errors, 'is-valid':  direccionViviendaErrors.direccionVivienda.valid }" formControlName="direccionVivienda" [(ngModel)]="direccionCompleta" required disabled/>
							<div *ngIf="submittedDireccionVivienda && direccionViviendaErrors.direccionVivienda.errors" class="invalid-feedback  text-left">
							   <div *ngIf="direccionViviendaErrors.direccionVivienda.errors.required">Diligencie la dirección de la vivienda.</div>
							</div>
						 </div>

					  </div>
				   </div>
				</div>
				<div class="form-row mt-5" *ngIf="habilitarRecibo">
				   <div class="col-md-12 mb-6">
					  <label>Dirección de la vivienda</label>
					  <input type="text" class="form-control"  [ngClass]="{ 'is-invalid': submittedDireccionVivienda && direccionViviendaErrors.direccionViviendaTranscribir.errors, 'is-valid':  direccionViviendaErrors.direccionViviendaTranscribir.valid }" formControlName="direccionViviendaTranscribir" [(ngModel)]="direccionCompleta" required />
					  <div *ngIf="submittedDireccionVivienda && direccionViviendaErrors.direccionViviendaTranscribir.errors" class="invalid-feedback  text-left">
						 <div *ngIf="direccionViviendaErrors.direccionViviendaTranscribir.errors.required">Diligencie la dirección de la vivienda.</div>
					  </div>
				   </div>
				</div>
				<div class="form-row mt-5">
				   <div class="col-sm-12 text-center mb-3 mt-4">
					  <button class="btn btn-primary text-center boton-contacto"  mat-button matStepperPrevious> <i class="icofont icofont-arrow-left icon-md"></i> Atras</button>
					  <button class="btn btn-primary text-center boton-contacto ml-2"  mat-button >Siguiente <i class="icofont icofont-arrow-right icon-md"></i></button>
				   </div>
				</div>
				<!--			<div class="col-sm-12 text-center mb-3 mt-4" *ngIf="!habilitarRecibo">
				   <button class="btn btn-primary text-center boton-contacto" mat-button (click)="validarDireccion()">Validar Dirección <i class="icofont icofont-search ml-2 icon-md"></i> </button>
				   </div>
				   
				   -->
				<!--<div class="row mt-5" *ngIf="habilitarRecibo">
				   <div class="col-md-12">
				   <div class="form-group">
				   <div class="row">
				   <label class="col-sm-3 col-form-label" for="files">Adjuntar Recibo de Servicio Público</label>
				   <div class="col-sm-9">
					<span class="hidden-file">
				   <input type="file" #fileInput ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" />
				   </span>
					<div class="btn-group" (click)="fileInput.click()">
				   
				   
					</div>
				   </div>
				   </div>
				   </div>
				   </div>
				   <div class="col-md-12 mt-5">
				   <table class="table">
				   <thead>
				   <tr>
					<th>Nombre</th>
					<th>Tamaño </th>
					<th>Acción</th>
				   </tr>
				   </thead>
				   <tbody>
				   <tr *ngFor="let item of uploader.queue">
					<td>
					 {{ item?.file?.name }}
					</td>
					<td>
					 {{ item?.file?.size/1024/1024 | number:'.2' }} MB
					</td>
					<td>
					 <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
				   <span class="glyphicon glyphicon-trash"></span> 
				   Eliminar
				   </button>
					</td>
				   </tr>
				   </tbody>
				   </table>
				   
				   
				   </div>
				   </div>
				   
				   <section class="content container-fluid">
				   <div class="row">
				   <div class="col-md-12">
				   <div class="panel-group">
				   <div class="panel panel-primary">
					<div class="panel-heading"></div>
					<div class="panel-body">
				   <div class="row">
					   <div class="col-md-12">
						   <div class="map" #map id="map" style="width: 100%; height: 800.2px;"></div>
						   
					   </div>
				   </div>
					</div>
				   </div>
				   </div>
				   </div>
				   </div>
				   </section>-->
				<div class="col-sm-12 text-center mb-3 mt-4" *ngIf="habilitarRecibo">
				   <button class="btn btn-primary text-center boton-contacto"  mat-button matStepperPrevious> <i class="icofont icofont-arrow-left icon-md"></i> Atras</button>
				   <button class="btn btn-primary text-center boton-contacto ml-2"  mat-button matStepperNext>Siguiente <i class="icofont icofont-arrow-right icon-md"></i></button>
				</div>
				</form>
			 </mat-step>
			 <mat-step >
				<ng-template matStepLabel>ENVIAR</ng-template>

				<div class="col-sm-10 text-left mt-3">
					<h5>Resumén de la Solicitud</h5>
				 </div>

				<div class="col-md-12 mt-3 text-left mt-4 mb-5">
					<h6><b class="textModalSend-v2">SOLICITANTE: </b> <span class="ml-3 textModalSend-2"> {{modelRegistroSolicitudes.primerNombreCiudadano}} {{(modelRegistroSolicitudes.segundoNombreCiudadano ? modelRegistroSolicitudes.segundoNombreCiudadano : '')}} {{ modelRegistroSolicitudes.primerApellidoCiudadano}}  {{(modelRegistroSolicitudes.segundoApellidoCiudadano ? modelRegistroSolicitudes.segundoApellidoCiudadano : '')}} </span></h6>
					<h6><b class="textModalSend-v2">DOCUMENTO: </b> <span class="ml-3 textModalSend-2">{{modelRegistroSolicitudes.numeroDocumentoCiudadano}} </span></h6>
					<h6><b class="textModalSend-v2">DIRECCIÓN: </b>  <span class="ml-3 textModalSend-2">{{PARAMETRO_DIRECCION}} {{direccion.complementoDireccion}} </span></h6>
					<h6><b class="textModalSend-v2">TELÉFONO:</b> <span class="ml-3 textModalSend-2">{{modelRegistroSolicitudes.telefonoCelularCiudadano}}</span></h6>
					<h6><b class="textModalSend-v2">CORREO ELECTRÓNICO:  </b> <span class="ml-3 textModalSend-2">{{modelRegistroSolicitudes.emailCiudadano}}</span></h6>
					<h6><b class="textModalSend-v2">LOCALIDAD: </b> <span class="ml-3 textModalSend-2">{{PARAMETRO_LOCALIDAD}}</span></h6>
					<h6><b class="textModalSend-v2">SECTOR CATASTRAL:  </b> <span class="ml-3 textModalSend-2">{{PARAMETRO_BARRIO}}</span></h6>
					<h6><b class="textModalSend-v2">ESTRATO: </b> <span class="ml-3 textModalSend-2">{{PARAMETRO_ESTRATO}}</span></h6>
			
					</div>
				<div class="col-sm-12 text-center mb-3 mt-4">
				   <button class="btn btn-primary text-center boton-contacto" mat-button matStepperPrevious><i class="icofont icofont-arrow-left icon-md"></i> Atras</button>
				   <button class="btn btn-primary text-center boton-contacto ml-2"  (click)="enviarRegistro()"  mat-button  [disabled]="!habilitarCaptcha">Enviar Registro Solicitud <i class="icofont icofont-send-mail icon-md"></i></button>
				</div>
			 </mat-step>
			 </mat-horizontal-stepper>
		  </mat-card-content>
		  <span class="version-info">Build: v_2.1.1</span>
	   </mat-card>
	</div>
 </div>
 <!-- Modal -->
 <div class="modal fade" id="modalDireccion" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
	   <div class="modal-content">
		  <div class="modal-header">
			 <h5 class="modal-title" id="exampleModalCenterTitle">Generar dirección</h5>
			 <button type="button" class="close" aria-label="Close">
			 <span aria-hidden="true">&times;</span>
			 </button>
		  </div>
		  <div class="modal-body">
			 <div class="row">
				<div class="col-md-12 text-center">
				   <img src="assets/images/direccion.png" class="img-responsive img-fluid" alt="">
				</div>
			 </div>
			 <form [formGroup]="direcciones" (ngSubmit)="generateDireccion()">
			 <div class="form-row mt-4">
				<div class="col-md-2">
				   <label>Vía Principal</label>
				   <select formControlName="nombreCalleDireccion" [(ngModel)]="direccion.nombreCalle" class="form-control" [ngClass]="{ 'is-invalid': submittedDirecciones && direccionesErrors.nombreCalleDireccion.errors, 'is-valid': direccionesErrors.nombreCalleDireccion.valid }"  >
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let nombreC of nombreCalle">
					  <option value="{{nombreC.id}}">
						 {{nombreC.nombre}}
					  </option>
				   </ng-container>
				   </select>
				   <div *ngIf="submittedDirecciones && direccionesErrors.nombreCalleDireccion.errors" class="invalid-feedback text-left">
					  <div *ngIf="direccionesErrors.nombreCalleDireccion.errors.required"> Tipo de dirección principal requerido.</div>
				   </div>
				</div>
				<div class="col-md-2">
				   <label>Número</label>
				   <input type="text" formControlName="numeroPrincipalDireccion" class="form-control" [ngClass]="{ 'is-invalid': submittedDirecciones && direccionesErrors.numeroPrincipalDireccion.errors, 'is-valid':  direccionesErrors.numeroPrincipalDireccion.valid }" [(ngModel)]="direccion.numeroPrincipal" />
				   <div *ngIf="submittedDirecciones && direccionesErrors.numeroPrincipalDireccion.errors" class="invalid-feedback text-left">
					  <div *ngIf="direccionesErrors.numeroPrincipalDireccion.errors.required"> Numéro principal requerido.</div>
					  <div *ngIf="direccionesErrors.numeroPrincipalDireccion.errors.pattern">El numéro principal debe ser numérico.</div>
					  <div *ngIf="direccionesErrors.numeroPrincipalDireccion.errors.maxlength">El numéro principal no debe ser mayor a 3 dígitos.</div>
				   </div>
				</div>
				<div class="col-md-2">
				   <label>Letra</label>
				   <select formControlName="letraPrincipalDireccion" [(ngModel)]="direccion.letraPrincipal" class="form-control">
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let letra of letras">
					  <option value="{{letra.id}}">
						 {{letra.nombre}}
					  </option>
				   </ng-container>
				   </select>
				</div>
				<div class="col-md-2">
				   <label>Bis</label>
				   <select formControlName="bisPrincipalDireccion" [(ngModel)]="direccion.bisPrincipal" class="form-control">
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let item of bisReferencia">
					  <option value="{{item.id}}">
						 {{item.nombre}}
					  </option>
				   </ng-container>
				   </select>
				</div>
				<div class="col-md-2">
				   <label>Letra</label>
				   <select formControlName="letraPrincipalDireccion2" [(ngModel)]="direccion.letraPrincipal2" class="form-control">
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let letra of letras">
					  <option value="{{letra.id}}">
						 {{letra.nombre}}
					  </option>
				   </ng-container>
				   </select>
				</div>
				<div class="col-md-1">
				   <label>Cardinal</label>
				   <select formControlName="referenciaCardinalDireccion" [(ngModel)]="direccion.referenciaCardinal" class="form-control">
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let orientacion of referenciaCardinal">
					  <option value="{{orientacion.id}}">
						 {{orientacion.nombre}}
					  </option>
				   </ng-container>
				   </select>
				</div>
			 </div>
			 <div class="form-row mt-4">
				<div class="col-md-1 text-center mt-4">
				   <label>#</label>
				</div>
				<div class="col-md-2">
				   <label>Número</label>
				   <input [(ngModel)]="direccion.numeroSecundario" formControlName="numeroSecundarioDireccion" type="text" class="form-control" [ngClass]="{ 'is-invalid': submittedDirecciones && direccionesErrors.numeroSecundarioDireccion.errors, 'is-valid': direccionesErrors.numeroSecundarioDireccion.valid }">
				   <div *ngIf="submittedDirecciones && direccionesErrors.numeroSecundarioDireccion.errors" class="invalid-feedback text-left">
					  <div *ngIf="direccionesErrors.numeroSecundarioDireccion.errors.required"> Numéro secundario requerido.</div>
					  <div *ngIf="direccionesErrors.numeroSecundarioDireccion.errors.pattern">El numéro secundario debe ser numérico.</div>
					  <div *ngIf="direccionesErrors.numeroSecundarioDireccion.errors.maxlength">El numéro secundario no debe ser mayor a 3 dígitos.</div>
				   </div>
				</div>
				<div class="col-md-1">
				   <label>Letra</label>
				   <select formControlName="letraSecundariaDireccion" [(ngModel)]="direccion.letraSecundaria" class="form-control">
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let letra of letras">
					  <option value="{{letra.id}}">
						 {{letra.nombre}}
					  </option>
				   </ng-container>
				   </select>
				</div>
				<div class="col-md-2">
				   <label>Bis</label>
				   <select formControlName="bisSecundarioDireccion" [(ngModel)]="direccion.bisSecundario" class="form-control">
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let item of bisReferencia">
					  <option value="{{item.id}}">
						 {{item.nombre}}
					  </option>
				   </ng-container>
				   </select>
				</div>
				<div class="col-md-1">
				   <label>Letra</label>
				   <select formControlName="letra4Direccion" [(ngModel)]="direccion.letraPrincipal4" class="form-control">
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let letra of letras">
					  <option value="{{letra.id}}">
						 {{letra.nombre}}
					  </option>
				   </ng-container>
				   </select>
				</div>
				<div class="col-md-1 text-center mt-4">
				   <label>__</label>
				</div>
				<div class="col-md-2">
				   <label>Placa</label>
				   <input [(ngModel)]="direccion.numeroCasa" formControlName="numeroCasaDireccion" type="text" class="form-control" [ngClass]="{ 'is-invalid': submittedDirecciones && direccionesErrors.numeroCasaDireccion.errors, 'is-valid': direccionesErrors.numeroCasaDireccion.valid }">
				   <div *ngIf="submittedDirecciones && direccionesErrors.numeroCasaDireccion.errors" class="invalid-feedback text-left">
					  <div *ngIf="direccionesErrors.numeroCasaDireccion.errors.required"> Numéro de casa requerido.</div>
					  <div *ngIf="direccionesErrors.numeroCasaDireccion.errors.pattern">El numéro de casa debe ser numérico.</div>
					  <div *ngIf="direccionesErrors.numeroCasaDireccion.errors.maxlength">El numéro de casa no debe ser mayor a 3 dígitos.</div>
				   </div>
				</div>
				<div class="col-md-1">
				   <label>Cardinal</label>
				   <select formControlName="referenciaCardinal2Direccion" [(ngModel)]="direccion.referenciaCardinal2" class="form-control">
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let orientacion of referenciaCardinal">
					  <option value="{{orientacion.id}}">
						 {{orientacion.nombre}}
					  </option>
				   </ng-container>
				   </select>
				</div>
			 </div>

			 <!--<div class="form-row mt-4">


				<div class="col-md-3">
				   <label>Inmueble</label>
				   <select formControlName="inmueble" [(ngModel)]="direccion.inmueble" class="form-control">
				   <option value="" selected>Seleccione...</option>
				   <ng-container *ngFor="let letra of inmuebles">
					  <option value="{{letra.nombre}}">
						 {{letra.nombre}}
					  </option>
				   </ng-container>
				   </select>
				</div>



				<div class="col-md-3">
				   <label>Número inmueble</label>
				   <input [(ngModel)]="direccion.numeroInmueble" (keypress)="onlyNumbers($event)" formControlName="numeroInmueble"  type="text" class="form-control" [ngClass]="{ 'is-invalid': submittedDirecciones && direccionesErrors.numeroInmueble.errors }">
				   <div *ngIf="submittedDirecciones && direccionesErrors.numeroInmueble.errors" class="invalid-feedback text-left">
					  <div *ngIf="direccionesErrors.numeroInmueble.errors.required"> Numéro de inmueble requerido.</div>
					  <div *ngIf="direccionesErrors.numeroInmueble.errors.pattern">El numéro de inmueble debe ser numérico.</div>
					  <div *ngIf="direccionesErrors.numeroInmueble.errors.maxlength">El numéro de inmueble no debe ser mayor a 3 dígitos.</div>
				   </div>
				</div>

			 </div>-->
			 <div class="form-row mt-4">
				<div class="col-md-12">
				   <label>Información Adicional</label>
				   <input [(ngModel)]="direccion.complementoDireccion" formControlName="complementoDireccion" type="text" class="form-control" [ngClass]="{ 'is-invalid': submittedDirecciones && direccionesErrors.complementoDireccion.errors}">
				   <div *ngIf="submittedDirecciones && direccionesErrors.complementoDireccion.errors" class="invalid-feedback text-left">
					<div *ngIf="direccionesErrors.complementoDireccion.errors.required"> Información Adicional requerido.</div>
					<div *ngIf="direccionesErrors.complementoDireccion.errors.pattern">Información Adicional debe ser alfanumérico.</div>
					<div *ngIf="direccionesErrors.complementoDireccion.errors.maxlength">La Información Adicional no debe ser mayor a 200 caracteres.</div>
				 </div>
				</div>
			 </div> 
			 <div class="style-msg alertmsg mt-4 mb-4">
				<div class="sb-msg"><i class="icofont icofont-warning"></i><strong>Nota: </strong> El campo información adicional dirección solo debe ser usado para agregar información complementaria del lugar de vivienda.</div>
			 </div>
			 <div class="modal-footer mt-4">
				<button type="submit" class="btn btn-primary"><i class="icofont icofont-plus-circle icon-md"></i> Agregar</button>
				<button type="button" class="btn btn-danger" (click)="resetDireccion()"><i class="icofont icofont-ui-delete icon-md"></i> Limpiar</button>
				<button type="button" class="btn btn-secondary" (click)="cancelarDireccion()">Cancelar</button>
			 </div>
			 </form>
		  </div>
	   </div>
	</div>
 </div>
 <!-- Modal -->
 <div class="modal fade" id="modalHogar" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
	   <div class="modal-content">
		  <div class="modal-header">
			 <h5 class="modal-title" id="exampleModalCenterTitle">AGREGAR MIEMBRO DEL HOGAR</h5>
			 <button type="button" class="close" (click)="cancelarHogar()" aria-label="Close">
			 <span aria-hidden="true">&times;</span>
			 </button>
		  </div>
		  <div class="modal-body">
			 <form [formGroup]="modulo_establecimiento" (ngSubmit)="guardarIntegranteHogar()" >
			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Tipo de Parentesco</label>
				   <select  formControlName="idParentesco" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.idParentesco.errors, 'is-valid': puntosVentasErrors.idParentesco.valid }" [(ngModel)]="establecimiento.idParentesco"  required>
				   <option selected value="">Seleccione un tipo de parentesco...</option>
				   <option value="2">Cónyuge o compañero(a)</option>
				   <option value="3">Hijo(a), hijastro(a), hijo(a) adoptivo(a)</option>
				   <option value="4">Nieto(a)</option>
				   <option value="5">Padre, madre, padrastro, madrastra</option>
				   <option value="6">Hermano(a)</option>
				   <option value="7">Yerno / Nuera</option>
				   <option value="8">Abuelo(a)</option>
				   <option value="9">Suegro(a)</option>
				   <option value="10">Tío(a)</option>
				   <option value="11">Sobrino(a)</option>
				   <option value="12">Primo(a)</option>
				   <option value="13">Cuñado(a)</option>
				   <option value="14"> Otro pariente</option>
				   <option value="15">Empleado(a) de servicio doméstico</option>
				   <option value="16">Pariente del servicio doméstico</option>
				   <option value="17">Pensionista</option>
				   </select>	
				   <div *ngIf="submittedPuntos && puntosVentasErrors.idParentesco.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.idParentesco.errors.required">Seleccione el tipo de parentesco.</div>
				   </div>
				</div>
			 </div>
			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Tipo de Documento</label>
				   <select  formControlName="idTipoDocumentoCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.idTipoDocumentoCiudadano.errors, 'is-valid': puntosVentasErrors.idTipoDocumentoCiudadano.valid }" [(ngModel)]="establecimiento.idTipoDocumentoCiudadano"  required>
				   <option selected value="">Seleccione un tipo de documento...</option>
				   <option value="1">Cédula de Ciudadanía</option>
				   <option value="3">Cédula de Extranjería</option>
				   <option value="4">Registro Civil</option>
				   <option value="2">Tarjeta de Identidad</option>
				   <option value="8">Permiso Especial de Permanencia</option>
				   <option value="5">Documento Nacional de Identidad</option>
				   <option value="6">Pasaporte</option>
				   <option value="7">Salvoconducto Migratorio</option>
				   </select>
				   <div *ngIf="submittedPuntos && puntosVentasErrors.idTipoDocumentoCiudadano.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.idTipoDocumentoCiudadano.errors.required">Seleccione el tipo de documento.</div>
				   </div>
				</div>
			 </div>
			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Número de Documento</label>
				   <input type="text" formControlName="numeroDocumentoCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.numeroDocumentoCiudadano.errors, 'is-valid':  puntosVentasErrors.numeroDocumentoCiudadano.valid }" [(ngModel)]="establecimiento.numeroDocumentoCiudadano" required onkeypress='validate(event)' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/>
				   <div *ngIf="submittedPuntos && puntosVentasErrors.numeroDocumentoCiudadano.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.numeroDocumentoCiudadano.errors.required">El número de documento de identidad es requerido.</div>
					  <div *ngIf="puntosVentasErrors.numeroDocumentoCiudadano.errors.pattern">Información incorrecta, solo se permite valores numéricos y que el documento no empiece por 0.</div>
					  <div *ngIf="puntosVentasErrors.numeroDocumentoCiudadano.errors.maxlength">El número de documento de identidad no debe ser mayor a 15 dígitos.</div>
					  <div *ngIf="puntosVentasErrors.numeroDocumentoCiudadano.errors.minlength">El número de documento de identidad debe ser mayor a 3 dígitos.</div>
				   </div>
				</div>
			 </div>

			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Confirmar Número de Documento</label>
				   <input type="text" formControlName="confirmNumeroDocumentoCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.confirmNumeroDocumentoCiudadano.errors, 'is-valid':  puntosVentasErrors.confirmNumeroDocumentoCiudadano.valid }" required onkeypress='validate(event)' onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/>
				   <div *ngIf="submittedPuntos && puntosVentasErrors.confirmNumeroDocumentoCiudadano.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.confirmNumeroDocumentoCiudadano.errors.required">La confirmación del número de documento de identidad es requerida.</div>
					  <div *ngIf="puntosVentasErrors.confirmNumeroDocumentoCiudadano.errors.pattern">Información incorrecta, solo se permite valores numéricos y que el documento no empiece por 0.</div>
					  <div *ngIf="puntosVentasErrors.confirmNumeroDocumentoCiudadano.errors.maxlength">El número de documento de identidad no debe ser mayor a 15 dígitos.</div>
					  <div *ngIf="puntosVentasErrors.confirmNumeroDocumentoCiudadano.errors.minlength">El número de documento de identidad debe ser mayor a 3 dígitos.</div>
					  <div *ngIf="puntosVentasErrors.confirmNumeroDocumentoCiudadano.errors.mustMatch">La confirmación del número de documento de identidad no es correcta </div>

				   </div>
				</div>
			 </div>
			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Primer Nombre</label>
				   <input type="text" formControlName="primerNombreCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.primerNombreCiudadano.errors, 'is-valid':  puntosVentasErrors.primerNombreCiudadano.valid }" [(ngModel)]="establecimiento.primerNombreCiudadano" required />
				   <div *ngIf="submittedPuntos && puntosVentasErrors.primerNombreCiudadano.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.primerNombreCiudadano.errors.required">Diligencie el primer nombre.</div>
					  <div *ngIf="puntosVentasErrors.primerNombreCiudadano.errors.pattern">Información incorrecta, solo se permite valores alfabéticos.</div>
					  <div *ngIf="puntosVentasErrors.primerNombreCiudadano.errors.maxlength">El primer nombre no debe ser mayor a 50 caracteres.</div>
					  <div *ngIf="puntosVentasErrors.primerNombreCiudadano.errors.minlength">El primer nombre debe ser mayor a 2 caracteres.</div>
				   </div>
				</div>
			 </div>
			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Segundo Nombre</label>
				   <input type="text" formControlName="segundoNombreCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.segundoNombreCiudadano.errors}" [(ngModel)]="establecimiento.segundoNombreCiudadano"  />
				   <div *ngIf="submittedPuntos && puntosVentasErrors.segundoNombreCiudadano.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.segundoNombreCiudadano.errors.pattern">Información incorrecta, solo se permite valores alfabéticos.</div>
					  <div *ngIf="puntosVentasErrors.segundoNombreCiudadano.errors.maxlength">El segundo nombre no debe ser mayor a 50 caracteres.</div>
					  <div *ngIf="puntosVentasErrors.segundoNombreCiudadano.errors.minlength">El segundo nombre debe ser mayor a 2 caracteres.</div>
				   </div>
				</div>
			 </div>
			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Primer Apellido</label>
				   <input type="text" formControlName="primerApellidoCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.primerApellidoCiudadano.errors, 'is-valid':  puntosVentasErrors.primerApellidoCiudadano.valid }" [(ngModel)]="establecimiento.primerApellidoCiudadano" required />
				   <div *ngIf="submittedPuntos && puntosVentasErrors.primerApellidoCiudadano.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.primerApellidoCiudadano.errors.required">Diligencie el primer apellido.</div>
					  <div *ngIf="puntosVentasErrors.primerApellidoCiudadano.errors.pattern">Información incorrecta, solo se permite valores alfabéticos.</div>
					  <div *ngIf="puntosVentasErrors.primerApellidoCiudadano.errors.maxlength">El primer apellido no debe ser mayor a 50 caracteres.</div>
					  <div *ngIf="puntosVentasErrors.primerApellidoCiudadano.errors.minlength">El primer apellido debe ser mayor a 2 caracteres.</div>
				   </div>
				</div>
			 </div>
			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Segundo Apellido</label>
				   <input type="text" formControlName="segundoApellidoCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.segundoApellidoCiudadano.errors }" [(ngModel)]="establecimiento.segundoApellidoCiudadano"  />
				   <div *ngIf="submittedPuntos && puntosVentasErrors.segundoApellidoCiudadano.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.segundoApellidoCiudadano.errors.pattern">Información incorrecta, solo se permite valores alfabéticos.</div>
					  <div *ngIf="puntosVentasErrors.segundoApellidoCiudadano.errors.maxlength">El segundo apellido no debe ser mayor a 50 caracteres.</div>
					  <div *ngIf="puntosVentasErrors.segundoApellidoCiudadano.errors.minlength">El segundo apellido debe ser mayor a 2 caracteres.</div>
				   </div>
				</div>
			 </div>
			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Fecha de Nacimiento *</label>
				   <input type="date" onkeypress="return false" formControlName="fechaNacimientoCiudadano" placeholder="Escoja su fecha de nacimiento" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.fechaNacimientoCiudadano.errors, 'is-valid':  puntosVentasErrors.fechaNacimientoCiudadano.valid }" [(ngModel)]="establecimiento.fechaNacimientoCiudadano"  [min]="dateSent" [max]="todaysdate" [value]="dateReceived" required />
				   <div *ngIf="submittedPuntos && puntosVentasErrors.fechaNacimientoCiudadano.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.fechaNacimientoCiudadano.errors.required">Escoja la fecha de nacimiento.</div>
				   </div>
				</div>
			 </div>
			 <!--<div class="form-row mt-4">
				<div class="col-md-12 mb-6">
					<label>Correo Electrónico <span class="text-danger">*</span></label>
					<input type="text" formControlName="emailCiudadano" placeholder="Escriba su correo electrónico" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.emailCiudadano.errors, 'is-valid':  puntosVentasErrors.emailCiudadano.valid }" [(ngModel)]="establecimiento.emailCiudadano"  />
				
					<div *ngIf="submittedPuntos && puntosVentasErrors.emailCiudadano.errors" class="invalid-feedback text-left">
						<div *ngIf="puntosVentasErrors.emailCiudadano.errors.required">Diligencie el correo electrónico.</div>
						<div *ngIf="puntosVentasErrors.emailCiudadano.errors.pattern">El correo digitado no es valido, debería ser: ejemplo@empresa.com.co.</div>
						<div *ngIf="puntosVentasErrors.emailCiudadano.errors.maxlength">El correo digitado no debe ser mayor a 40 caracteres.</div>
					</div>
				</div>
				</div> -->
			 <div class="form-row mt-4">
				<div class="col-md-12 mb-6">
				   <label>Sexo</label>
				   <select  formControlName="idTSexoCiudadano" class="form-control" [ngClass]="{ 'is-invalid': submittedPuntos && puntosVentasErrors.idTSexoCiudadano.errors, 'is-valid': puntosVentasErrors.idTSexoCiudadano.valid }" [(ngModel)]="establecimiento.idTSexoCiudadano" required>
				   <option selected value="">Seleccione un tipo de sexo...</option>
				   <!--<option value="Masculino">Masculino</option>
					  <option value="Femenino">Femenino</option>
					  <option value="Sin especificar">Sin especificar</option>-->
				   <option value="Masculino">Hombre</option>
				   <option value="Femenino">Mujer</option>
				   <option value="Sin Especificar">Intersexual</option>
				   </select>
				   <div *ngIf="submittedPuntos && puntosVentasErrors.idTSexoCiudadano.errors" class="invalid-feedback  text-left">
					  <div *ngIf="puntosVentasErrors.idTSexoCiudadano.errors.required">Seleccione el tipo de sexo.</div>
				   </div>
				</div>
			 </div>
			 <div class="modal-footer mt-4">
				<button type="submit" class="btn btn-primary"  [disabled]="isEditFormulario"><i class="icofont icofont-diskette icon-md"></i> Guardar</button>
				<button type="button" class="btn btn-secondary" (click)="cancelarHogar()">Cancelar</button>
			 </div>
			 </form>
		  </div>
	   </div>
	</div>
 </div>
 <ng2-toasty [position]="'top-right'"></ng2-toasty>
 <!-- Modal -->
 <div class="modal fade" id="modalAutorizacionDatoss" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
	   <div class="modal-content">
		  <div class="modal-body">
			 <pdf-viewer [src]="srcDatos" [original-size]="false"></pdf-viewer>
		  </div>
		  <div class="modal-footer mt-4">
			 <button type="submit" class="btn btn-primary" (click)="aceptarAutorizacionDatos()"><i class="icofont icofont-check icon-md"></i> Aceptar</button>
			 <button type="button" class="btn btn-secondary" (click)="cancelarAutorizacionDatos()">Cancelar</button>
		  </div>
	   </div>
	</div>
 </div>
 <!-- Modal AUtorizacion-->
 <ng-template #modalAutorizacionDatos let-modal>
	<div class="modal-header">
	   <h5 class="modal-title" id="exampleModalCenterTitle">AUTORIZACIÓN DE TRATAMIENTO DE DATOS PERSONALES</h5>
	   <button type="button" class="close" (click)="modal.close('Save click')" aria-label="Close">
	   <span aria-hidden="true">&times;</span>
	   </button>
	</div>
	<div class="modal-body">
	   <pdf-viewer
	   [src]="srcDatos"
	   [rotation]="0"
	   [fit-to-page]="true"
	   [original-size]="true"
	   [show-all]="true"
	   style="display: block;"
	   ></pdf-viewer>
	</div>
	<div class="modal-footer mt-4">
	   <button type="submit" class="btn btn-primary" (click)="aceptarAutorizacionDatos()"> Aceptar</button>
	   <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cancelar</button>
	</div>
 </ng-template>
 <!-- Modal Portada-->
 <div class="modal fade" id="modalImagenPortada" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
	   <div class="modal-content">
		  <div class="modal-header">
			 <h4 class="modal-title" id="exampleModalCenterTitle">Bienvenido al aplicativo de registro de solicitud de encuesta Sisbén para Bogotá</h4>
			 <button type="button" class="close" (click)="cancelarImagenPortada()" aria-label="Close">
			 <span aria-hidden="true">&times;</span>
			 </button>
		  </div>
		  <div class="modal-body">
			 <div class="row">
				<div class="col-md-12 text-center">
				   <img src="assets/images/sisben_portada.jpg" class="img-responsive img-fluid" alt="">
				</div>
			 </div>
		  </div>
		  <div class="modal-footer mt-4">
			 <button type="submit" class="btn btn-primary" (click)="cancelarImagenPortada()"><i class="icofont icofont-check icon-md"></i> Aceptar</button>
		  </div>
	   </div>
	</div>
 </div>
 <ng-template #modalManual let-modal>
	<div class="modal-header">
	   <h5 class="modal-title" id="exampleModalCenterTitle">Manual Aplicativo</h5>
	   <button type="button" class="close" (click)="modal.close('Save click')" aria-label="Close">
	   <span aria-hidden="true">&times;</span>
	   </button>
	</div>
	<div class="modal-body">
	   <pdf-viewer
	   [src]="src"
	   [rotation]="0"
	   [fit-to-page]="true"
	   [original-size]="true"
	   [show-all]="true"
	   style="display: block;"
	   ></pdf-viewer>
	</div>
	<div class="modal-footer mt-4">
	   <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')"> <i class="icofont icofont-check icon-md"></i>Aceptar</button>
	   <button type="submit" class="btn btn-warning" (click)="downloadPdf('/assets/docs/manual.pdf','Manual_Diligenciamiento')"> <i class="icofont icofont-download icon-md"></i>Descargar</button>
	   <button type="button" class="btn btn-danger" (click)="modal.close('Save click')"><i class="icofont icofont-close icon-md"></i>Cancelar</button>
	</div>
 </ng-template>
 <!-- Modal Manual-->
 <div class="modal fade" id="modalManual1" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
	   <div class="modal-content">
		  <div class="modal-body">
			 <div class="pdf-container">
				<pdf-viewer [src]="src"
				[original-size]="false"
				[rotation]="0"
				[fit-to-page]="true"
				[show-all]="true"
				style="display: block;"
				></pdf-viewer>
			 </div>
		  </div>
		  <div class="modal-footer mt-4">
			 <button type="submit" class="btn btn-primary" (click)="aceptarManual()"> Aceptar</button>
			 <button type="button" class="btn btn-secondary" (click)="cancelarManual()">Cancelar</button>
		  </div>
	   </div>
	</div>
 </div>
 <div class="container" style="display: none;">
	<div class="row">
	   <div id="htmlData">
		  <h2>Lista de personas agregadas a la Solicitud</h2>
		  <table class="table table-bordered mt-4">
			 <tr class="table-primary">
				<th>Tipo de<br> Documento</th>
				<th>Número de <br> Documento</th>
				<th>Nombres y Apellidos </th>
				<th>Sexo</th>
				<th>Parentesco</th>
			 </tr>
			 <tr *ngFor="let row of listadoPersonasHogar">
				<th>{{row.idTipoDocumentoCiudadano}}</th>
				<td>{{row.numeroDocumentoCiudadano}}</td>
				<td>{{row.primerNombreCiudadano}} {{row.segundoNombreCiudadano}} {{row.primerApellidoCiudadano}} {{row.segundoApellidoCiudadano}}</td>
				<td>{{row.idTSexoCiudadano}}</td>
				<td>{{row.idParentesco}}</td>
			 </tr>
		  </table>
	   </div>
	</div>
 </div>
 <div class="modal fade" id="modalErrores" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
	   <div class="modal-content">
		  <div class="modal-header">
			 <h5 class="modal-title" id="exampleModalCenterTitle">Novedades identificadas en la solicitud</h5>
			 <button type="button" class="close" (click)="cancelarPanelError()" aria-label="Close">
			 <span aria-hidden="true">&times;</span>
			 </button>
		  </div>
		  <div class="modal-body">
			 <div class="row">
				<div class="col-md-12 text-center">
				   <h4 class="mb-3">Detalle de novedad</h4>
				   <table class="table table-bordered mt-4">
					  <tr class="table-primary">
						 <th>Número de  Documento</th>
						 <th>Error</th>
					  </tr>
					  <tr *ngFor="let row of listadoErrorGrupo">
						 <td>{{row.p_ID_CIUDANANO}}</td>
						 <td class="text-danger">{{getErroresValidacion(row.p_IDENTIFICADOR)}}</td>
					  </tr>
				   </table>
				</div>
			 </div>
		  </div>
		  <div class="modal-footer mt-4">
			 <button  class="btn btn-primary" (click)="cancelarPanelError()"><i class="icofont icofont-check icon-md"></i> Aceptar</button>
		  </div>
	   </div>
	</div>
 </div>
 <div class="modal fade" id="modalReporte" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
	   <div class="modal-content">
		  <div class="modal-header">
			 <h5 class="modal-title" id="exampleModalCenterTitle">Reporte Solicitud Encuesta</h5>
			 <button type="button" class="close" (click)="cancelarReporteGo()" aria-label="Close">
			 <span aria-hidden="true">&times;</span>
			 </button>
		  </div>
		  <div class="modal-body">
			 <div #reportContent  >
				<div class="container" >
				   <div class="row">
					  <div class="col-md-12 text-center mb-3 mt-3">
						 <img src="assets/images/secretaria.png" class="img-responsive img-fluid w-300" alt="">
					  </div>
					  <div class="col-md-12 text-center mt-3">
						 <h5><b>REGISTRO DE DATOS PARA SOLICITUD DE VISITA No. {{PARAMETRO_NUMERO_CONSECUTIVO}}</b> </h5>
					  </div>
					  <div class="col-md-12 text-left mt-3 letra">
						 <p>El día {{todaysdate}} se registró en el portal web de la Secretaría Distrital de Planeación – SDP, la solicitud de encuesta a nombre de:</p>
					  </div>
					  <div class="col-md-12 mt-3">
						 <h6><b>SOLICITANTE </b>   <span class="ml-3">{{modelRegistroSolicitudes.primerNombreCiudadano}} {{modelRegistroSolicitudes.segundoNombreCiudadano}} {{modelRegistroSolicitudes.primerApellidoCiudadano}} {{modelRegistroSolicitudes.segundoApellidoCiudadano}}</span></h6>
						 <h6><b>DOCUMENTO </b> <span class="ml-3">{{modelRegistroSolicitudes.numeroDocumentoCiudadano}}</span></h6>
						 <h6><b>DIRECCIÓN </b>  <span class="ml-3">{{PARAMETRO_DIRECCION}} {{direccion.complementoDireccion}}</span></h6>
						 <h6><b>TELÉFONO</b> <span class="ml-3">{{modelRegistroSolicitudes.telefonoCelularCiudadano}}</span></h6>
						 <h6><b>CORREO ELECTRÓNICO  </b> <span class="ml-3">{{modelRegistroSolicitudes.emailCiudadano}}</span></h6>
						 <h6><b>LOCALIDAD </b> <span class="ml-3">{{PARAMETRO_LOCALIDAD}}</span></h6>
						 <h6><b>SECTOR CATASTRAL  </b> <span class="ml-3">{{PARAMETRO_BARRIO}}</span></h6>
						 <h6><b>ESTRATO </b> <span class="ml-3">{{PARAMETRO_ESTRATO}}</span></h6>
					  </div>
					  <div class="col-md-12 mt-4 letra">
						 <p>A continuación, se señalan las condiciones bajo las cuales se atiende la solicitud de visita registrada::</p>
					  </div>
					  <div class="col-md-12 letra">
						 <p>1.	La solicitud será verificada por la Dirección de Sisbén para determinar si procede o no la programación de la visita</p>
						 <p>2.	No es posible fijar un día y hora precisos para la visita, ni anunciarla previamente. </p>
						 <p>3.	La visita deberá ser atendida por un informante calificado del hogar. De no encontrarse, se dejará un volante informativo para que el interesado se comunique a más tardar el día siguiente.  </p>
						 <p>4.	Se realizarán máximo dos (2) visitas, después de las cuales la solicitud se dará por atendida. </p>
						 <p>5.	La encuesta registra a todos los integrantes del hogar, por lo que deberá presentar su cédula original, fotocopia legible del documento de identidad de todos los integrantes del hogar y los recibos del servicio público de acueducto y luz de su residencia actual. </p>
						 <p>6.	La encuesta debe ser contestada por un integrante del hogar del solicitante, mayor de 18 años, residente en la unidad de vivienda, quien bajo gravedad de juramento, con su firma, declarará que los datos proporcionados son verídicos. </p>
						 <p>7.	A partir de 24 horas después de registrar la solicitud de encuesta Sisbén, podrá verificar el estado del trámite en el siguiente link: http://sisben.sdp.gov.co:8081/solicitudessisben/solicitudessisbenm3.html o comuníquese a la línea 195 o al PBX 6013358000 opción 2.</p>
					  </div>
					  <div class="col-md-12 text-center mt-3">
						 <h6> <b>Todos los trámites relacionados con el Sisbén son GRATUITOS, realícelos personalmente.</b>	</h6>
					  </div>
					  <div class="col-md-12 text-center mt-4">
						 <img src="assets/images/piepagina.png" class="img-responsive img-fluid " alt="">
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
		  <div class="modal-footer mt-4">
			 <button  class="btn btn-primary" (click)="cancelarReporteGo()"><i class="icofont icofont-check icon-md"></i> Aceptar</button>
		  </div>
	   </div>
	</div>
 </div>
 <div  class="p-col-8 p-offset-2" style="display: none;">
	<table>
	   <tr>
		  <td style="color: red;background-color: blue;">1111
		  </td>
		  <td>2222
		  </td>
	   </tr>
	</table>
	<div id="htmlData">
	   <table class="table table-bordered mt-4">
		  <tr class="table-primary">
			 <th>Id</th>
			 <th>Name</th>
			 <th>Email</th>
			 <th>Phone</th>
		  </tr>
		  <tr *ngFor="let row of usuarios">
			 <th>{{row.id}}</th>
			 <td>{{row.name}}</td>
			 <td>{{row.email}}</td>
			 <td>{{row.phone}}</td>
		  </tr>
	   </table>
	</div>
 </div>
 <button pButton type="button" label="Pdf" (click)="descarga()" style="display: none;">Pdf Export</button>