
//@import '~@sweetalert2/themes/material-ui/material-ui.scss';


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #3C689B;
    border-color: #3C689B #3C689B #3C689B;
}

.division-contacto {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #3C689B;
}

.boton-contacto {

    //width: 100%;    
}

.font-table{
    font-size: 20px;
}


.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    color: #fff;
    background-color: #3C689B;
    border-color: #3C689B #3C689B #3C689B;
}

table {
    width: 100%;
  }
  
.pointer {cursor: pointer;}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    color: #fff;
    color: #fff;
    background-color: #3C689B !important;
    border-color: #3C689B #3C689B #3C689B!important;
    font-size: 1.0625em;
    font-weight: 400;
}

.swal2-styled.swal2-cancel {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #b80050 !important;
    border-color: #b80050 #b80050 #b80050 !important;
    color: #fff;
    font-size: 1.0625em;
    font-weight: 400;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    color: white !important;
    text-shadow: 0 0 0 #fff; 
    opacity: 1.0;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    opacity: 1.0 !important;
}


.form-control.is-valid {
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: center right calc(0.9em + 0.5rem);
    background-size: calc(0.4em + 0.375rem) calc(0.4em + 0.375rem);
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: center right calc(0.9em + 0.5rem);
    background-size: calc(0.55em + 0.375rem) calc(0.55em + 0.375rem);
}

.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0 0 .4em;
    padding: 0;
    color: #595959;
    font-size: 1.875em;
    font-weight: 400 !important;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

.border-primary {
    border: 1px solid #3d679b !important;
}

.border-warn {
    border: 1px solid #b80050 !important;
}

.msj_no_results{
    background-color: #FFF3E0;
    color: #b85219;
    padding: 2px;
    width: 100%;
}

.mat-sort-header-container {
    display:flex;
    justify-content:center;
  }

.mat-cell, .mat-footer-cell {
    font-size: 12px;
}

.mat-header-cell {
    background: #3d679b;
    color: #ffffff;
    text-align: center !important;

}

th.mat-header-cell {
    text-align: center !important;
}

mat-header-cell {
    text-align: center !important;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 10px !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0px;
    min-width: 50px !important;
    line-height: 30px;
    padding: 0 0px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}


td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 10px !important;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 10px !important;
}

.text-danger {
    color: #b80050 !important;
}

.form-control-file {
    padding: 1.375rem 0.75rem 3.075rem 0.375rem;
}

.material-icons-errors {
    font-size: 23px !important;
}

.mat-horizontal-content-container {
    overflow: hidden;
    padding: 0px 0px 0px 0px !important;
}

.mat-card {
    padding: 12px !important;
}

.btn {
    text-transform: none !important;
}

.alertmsg {
    background: #FCE0B6;
    color: #975E06;
}


.alertmsg-2 {
    background: #3498db75;
    color: #975E06;
}

.style-msg, .style-msg2 {
    position: relative;
    display: block;
    color: #444;
    border-left: 4px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.style-msg2 .msgtitle, .style-msg2 .sb-msg, .style-msg .sb-msg {
    display: block;
    padding: 15px;
    border-left: 1px solid rgba(255,255,255,0.5);
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}

.alert i, .msgtitle i, .sb-msg i {
    position: relative;
    top: 0px;
    font-size: 15px;
    width: 14px;
    text-align: center;
    margin-right: 5px;
}

pdf-viewer {
    display: block;
    height: 100vh;
  }

  .cursor-icon {
    cursor: pointer
  }  

  .w-60 {
    width: 60px !important; 
  }

  .w-200 {
    width: 150px !important; 
  }

  .w-200 {
    width: 300px !important; 
  }

  .letra p {
      font-size: 14px !important;

  }

  .pdfreport{

    
  }

  .textModalSend {
    color: #188230 !important;
    font-weight: 500 !important;;
    font-size: 15px !important;;
  }

  .textModalSend-2 {
    color: #000000 !important;
    font-weight: 500 !important;;
    font-size: 15px !important;;
  }

  .textModalSend-v1 {
    color: #000000 !important;
    font-size: 15px !important;;
  }

  .textModalSend-v2 {
    color: #3C689B !important;
    font-size: 15px !important;;
  }




